---
---
<!DOCTYPE html>
<html data-bs-theme="light">
{% include head.html %}
<body class="px-3">
  <header>
    <img src="img/icon128.png" width="150" height="133" alt="{{ site.title }} Icon" itemprop="image">
    <h1 itemprop="name">{{ site.title }}</h1>
    <h2 itemprop="description">{{ site.description }}</h2>
  </header>

  <div class="text-center btn-group-lg">
    <a class="btn btn-light" href="https://chromewebstore.google.com/detail/{{ site.extension_name }}/{{ site.extension_id }}" id="chrome-button">
      <svg width="1.2em" height="1em"><use xlink:href="#bi-download" /></svg>
      Chrome
    </a>
    <a class="btn btn-light" href="https://addons.mozilla.org/firefox/addon/{{ site.extension_name }}/" id="firefox-button">
      <svg width="1.2em" height="1em"><use xlink:href="#bi-download" /></svg>
      Firefox
    </a>
    <a class="btn btn-light" href="{{ site.github.repository_url }}">
      <svg width="1.2em" height="1em"><use xlink:href="#bi-box-arrow-up-right" /></svg>
      Källkod
    </a>
  </div>

  <div class="container">
    <div class="alert alert-warning text-center d-none" role="alert" id="browser-warning">
      <strong>Observera:</strong> Tillägget är endast testat med <a href="https://www.google.com/chrome/">Chrome</a> och <a href="https://getfirefox.com/">Firefox</a>.
    </div>

<!--
    <div class="alert alert-info" role="alert">
      <strong>Är du bra på att göra film?</strong> Jag letar efter någon som kan spela in en kort instruktionsfilm till Privatkopiera, som kan bäddas in direkt här på hemsidan. Om du är intresserad, <a href="https://github.com/stefansundin/privatkopiera/discussions/63">läs mer här</a>.
    </div>
-->

    <h2 id="intro">Hur fungerar Privatkopiera?</h2>

    <p>Tillägget tar reda på vilka addresser du kan använda för att ladda ned videoklipp från ett antal Play-tjänster.</p>

    <p>Privatkopiera kräver att du vet hur man använder FFmpeg (se <a href="#ffmpeg">Installera FFmpeg</a>). Det är egentligen väldigt enkelt. Följ dessa steg:</p>

    <ol>
      <li>Hitta en video på svtplay.se som du vill ladda ned.</li>
      <li>Öppna Privatkopiera genom att klicka på VHS-ikonen till höger om addressfältet. <img id="img-launcher" src="img/launcher-light.png"></li>
      <li>Vänta några sekunder tills Privatkopiera hittar strömmen.</li>
      <li>Klicka på knappen <kbd>Kopiera kommando</kbd>.</li>
      <li>Klistra in kommandot i en terminal (t.ex. <code>cmd.exe</code> i Windows, använd högerklick för att klistra in). Tryck på <kbd>enter</kbd>-tangenten för att starta nedladdningen.</li>
      <li>Förhoppningsvis har du filen nedladdad efter några minuter.</li>
      <li><strong>Obs:</strong> FFmpeg spottar gärna (och ofta) ur sig varningar. Om programmet fortsätter att köra så bör du ta det lungt, det finns en bra chans att det fungerar ändå. Ha tålamod och ge det en stund.</li>
    </ol>

    <p>Senaste versionen stöder:</p>

    <ul>
      <li><a href="https://www.svtplay.se/">svtplay.se</a> (även direktsändningar)</li>
      <li><a href="https://www.svt.se/">svt.se</a></li>
      <li><a href="https://sverigesradio.se/">sverigesradio.se</a></li>
      <li><a href="https://urplay.se/">urplay.se</a></li>
      <li><a href="https://urskola.se/">urskola.se</a></li>
      <li><a href="https://www.tv4.se/">tv4.se</a></li>
      <li><a href="https://www.tv4play.se/">tv4play.se</a> (ej premium/direktsändningar)</li>
      <li><a href="https://tv.nrk.no/">tv.nrk.no</a> och <a href="https://radio.nrk.no/">radio.nrk.no</a></li>
      <li><a href="https://www.dr.dk/">dr.dk</a></li>
    </ul>

    <p><strong>Obs:</strong> Nedladdning av undertexter stöds inte på alla sidor.</p>

    <p>Om du tycker om tillägget, lämna gärna en recension för <a href="https://chromewebstore.google.com/detail/{{ site.extension_name }}/{{ site.extension_id }}/reviews">Chrome-tillägget</a> eller <a href="https://addons.mozilla.org/firefox/addon/{{ site.extension_name }}/reviews/add">Firefox-tillägget</a>. Tack!</p>

    <p>Har du hittat en bug? Har en hemsida slutat fungera? <a href="https://github.com/stefansundin/privatkopiera/issues">Rapportera det på GitHub.</a> Det finns också <a href="https://github.com/stefansundin/privatkopiera/discussions">ett diskussionsforum</a> på GitHub.</p>

    <p>Svara på <a href="https://goo.gl/forms/gZKoMuXklI">en kort undersökning</a> för att bidra med dina tankar anonymt. <a href="https://docs.google.com/spreadsheets/d/1WFd5RIzHaTcnwWo41BQ8YMffX8FBn4_g9_bLdFxZfTY/pubhtml">Läs svar här</a>.</p>


    <h2 id="donate">Donera</h2>

    <p>Donera för att få mig att programmera mer på Privatkopiera!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="_blank" class="row g-3 mb-3">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_name" value="{{ site.title }}">
      <input type="hidden" name="no_shipping" value="1">
      <input type="hidden" name="no_note" value="1">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="col-sm-4">
        <div class="input-group">
          <span class="input-group-text">$</span>
          <input type="hidden" name="currency_code" value="USD">
          <input class="form-control" type="text" name="amount" value="5.00" pattern="\d+\.?\d*" placeholder="Summa (i dollar)">
        </div>
      </div>
      <div class="col-sm">
        <input class="btn btn-success" type="submit" value="Donera med PayPal">
      </div>
    </form>

    <p>Du kan också stödja mig genom <a target="_blank" href="https://github.com/sponsors/stefansundin">GitHub Sponsoring</a>, eller genom <a target="_blank" href="https://www.patreon.com/stefansundin">Patreon</a>.</p>

    <p><small><a class="expander" expand="donation-options">Visa andra doneringsalternativ: Bitcoin.</a></small></p>
    <div id="donation-options">
      <p>Andra doneringsalternativ:</p>
      <ul>
        <li>Bitcoin: <code>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</code> (<a href="img/btc-qr.png">QR kod</a>)</li>
      </ul>
      <p>Kontakta mig på <a fubar>stefaNStefansundinCom</a> om du vill donera på annat sätt.</p>
    </div>


    <h2 id="news">Nyheter <a href="feed.xml"><img src="img/feed.png" alt="RSS flöde"></a></h2>

    <p>Observera att Chrome har en obligatorisk granskningsprocess för nya versioner. Därför får Chrome uppdateringen först några dagar efter att nyheten är skriven.</p>

    {% for post in site.posts limit:3 %}
    <p><strong>{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</strong></p>
    <div class="post-body">{{ post.content }}</div>
    {% endfor %}

    <p><a href="news/">Läs äldre nyheter...</a></p>

    <h2 id="ffmpeg">Installera FFmpeg</h2>

    <p>FFmpeg är ett program för som används för konvertering av videofiler, men det kan även ladda ned videoströmmar.</p>

    <p>För tillfället rekommenderas att ladda ned FFmpeg från <a href="https://github.com/yt-dlp/FFmpeg-Builds/blob/master/README.md">yt-dlp/FFmpeg-Builds på GitHub</a> för att de har löst en bugg med undertexter från SVT. Det finns tyvärr bara tillgängligt till Windows och Linux.</p>

    <p>Till macOS kan du ladda ned från <a href="https://evermeet.cx/ffmpeg/">https://evermeet.cx/ffmpeg/</a>. Här kvarstår dock buggen med undertexter från SVT.</p>

    <p>Hitta andra möjliga nedladdningar på <a href="https://ffmpeg.org/download.html">ffmpeg.org</a>.</p>

    <p>Om kommandotolken har problem att hitta ffmpeg så kan du behöva konfigurera sökvägen i tilläggets inställningar.</p>

    <p>Om det behövs så kan du modifiera kommandot som Privatkopiera ger dig. <a href="https://ffmpeg.org/ffmpeg.html">Se FFmpeg-dokumentationen.</a></p>

    <p><strong>Obs:</strong> FFmpeg spottar gärna (och ofta) ur sig varningar. Om programmet fortsätter att köra så bör du ta det lungt, det finns en bra chans att det fungerar ändå. Ha tålamod och ge det en stund.</p>


<!--
    <h2 id="adobehds">Installera AdobeHDS</h2>

    <p>Det finns stöd för att hitta AdobeHDS-strömmar (<code>manifest.f4m</code>). Det enklaste sättet jag har hittat att ladda ned dessa är att använda ett php-script kallat <a href="https://github.com/K-S-V/Scripts/blob/master/AdobeHDS.php">AdobeHDS.php</a> för att ladda ned dem (<a href="https://github.com/K-S-V/Scripts/wiki">mer information</a>).</p>

    <p>Scriptet kräver att ett antal tillägg i PHP är aktiverade.</p>

    <p>I Ubuntu kan du köra följande kommandon för att få det hela att fungera:</p>

{% highlight shell %}
sudo apt-get install php-cli php-bcmath php-curl php-xml
wget https://raw.githubusercontent.com/K-S-V/Scripts/master/AdobeHDS.php
php AdobeHDS.php ...
{% endhighlight %}

    <p>Mac:</p>

{% highlight shell %}
brew install php
curl https://raw.githubusercontent.com/K-S-V/Scripts/master/AdobeHDS.php > AdobeHDS.php
php AdobeHDS.php ...
{% endhighlight %}

    <p>Om du vill ladda ned en ström med lägre kvalité, använd <code>--quality low</code>.</p>

    <p>AdobeHDS kan återuppta avbrutna nedladdningar. Du kan också använda <code>--parallel 1</code>.</p>
-->

    <h2 id="tips">Tips</h2>
    <p>Om du ändrar filändelsen till <code>.mka</code> så laddas bara ljudet ned. Likaväl kan du använda <code>.srt</code> för att bara ladda ned undertexter. Undertexter stöds ej på alla sidor!</p>

    <h2 id="proxy">Proxy</h2>
    <p>För tips angående användning av proxy, <a href="proxy.html">se separat sida</a>.</p>

    <h2 id="other_programs">Andra program</h2>

    <ul>
      <li><a href="https://svtplay-dl.se/">svtplay-dl</a></li>
      <li><a href="https://ytdl-org.github.io/youtube-dl/">youtube-dl</a></li>
    </ul>
  </div>

  <div class="d-none">
    <svg id="bi-download" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z"/>
      <path fill-rule="evenodd" d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z"/>
      <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z"/>
    </svg>
    <svg id="bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z"/>
      <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z"/>
    </svg>
  </div>

  <script src="js/browser.js"></script>
  <script src="js/fubar.js"></script>
  <script src="js/expander.js"></script>
  <script src="js/paypal.js"></script>

{% include dark-mode.html %}
</body>
</html>
