---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body class="pad">
  <header>
    <img src="img/icon128.png" width="150" height="133" alt="{{ site.title }} Icon" itemprop="image">
    <h1 itemprop="name">{{ site.title }}</h1>
    <h2 itemprop="description">{{ site.description }}</h2>
  </header>

  <div class="text-center btn-group-lg">
    <a class="btn btn-default" target="_blank" href="https://chrome.google.com/webstore/detail/{{ site.extension_name }}/{{ site.extension_id }}" id="chrome-button"><span class="glyphicon glyphicon-download-alt"></span> Chrome</a>
    <a class="btn btn-default" target="_blank" href="https://addons.mozilla.org/firefox/addon/{{ site.extension_name }}/" id="firefox-button"><span class="glyphicon glyphicon-download-alt"></span> Firefox</a>
    <a class="btn btn-default" target="_blank" href="{{ site.github.repository_url }}"><span class="glyphicon glyphicon-new-window"></span> Källkod</a>
  </div>

  <div class="text-center hidden" id="browser-warning">
    <h3><strong>Observera:</strong> Tillägget fungerar med <a target="_blank" href="https://www.google.com/chrome/">Chrome</a> och <a target="_blank" href="https://getfirefox.com/">Firefox</a>!</h3>
  </div>

  <div class="container">
    <h2 id="intro">Hur fungerar Privatkopiera?</h2>

    <p>Tillägget tar reda på vilka addresser du kan använda för att ladda ned videoklipp från SVT Play. Tillägget är inspirerat av <a href="http://www.pirateplay.se/" target="_blank">Pirateplay</a>. Webbappen på Pirateplay var trasig under en period, så jag bestämde mig för att göra en version som var enklare att använda.</p>

    <p>Privatkopiera kräver att du vet hur man använder FFmpeg. Det är egentligen väldigt enkelt. Följ dessa steg:</p>

    <ol>
      <li>Hitta en video på svtplay.se som du vill ladda ned.</li>
      <li>Öppna Privatkopiera genom att klicka på VHS-ikonen till höger om addressfältet. <img src="img/launcher.png"></li>
      <li>Vänta några sekunder tills tillägget hittar strömmen.</li>
      <li>Klicka på knappen <i>Kopiera kommando</i>.</li>
      <li>Klistra in kommandot i en terminal (t.ex. <tt>cmd.exe</tt> i Windows). Tryck enter.</li>
      <li>Förhoppningsvis har du filen nedladdad om någon minut.</li>
    </ol>

    <p>Om du tycker om tillägget, lämna gärna en recension för <a target="_blank" href="https://chrome.google.com/webstore/detail/{{ site.extension_name }}/{{ site.extension_id }}/reviews">Chrome-tillägget</a> eller <a target="_blank" href="https://addons.mozilla.org/firefox/addon/{{ site.extension_name }}/reviews/add">Firefox-tillägget</a>. Tack!</p>

    <p>Svara på <a href="https://goo.gl/forms/gZKoMuXklI" target="_blank">en kort undersökning</a> för att hjälpa mig bestämma vilka sidor tillägget ska stödja härnäst.</p>


    <h2 id="donate">Donera</h2>

    <p>Donera för att få mig att programmera mer på Privatkopiera!</p>

    <form method="post" action="https://www.paypal.com/cgi-bin/webscr" track="donate" target="_blank">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="KYMVEK692RF5Q">
      <input type="hidden" name="item_number" value="Privatkopiera">
      <input type="hidden" name="return" value="https://stefansundin.github.io/thx">
      <input type="hidden" name="cbt" value="Learn why you just became awesome">
      <div class="input-group col-sm-5">
        <input class="form-control" type="text" name="amount" id="amount" value="$5.00" placeholder="Amount">
        <span class="input-group-btn">
          <input class="btn btn-success" type="submit" value="Donera med PayPal">
        </span>
      </div>
    </form>

    <p><small><a class="expander" expand="donation-options">Visa andra doneringsalternativ: Bitcoin, Square Cash, ChangeTip.</a></small></p>
    <div id="donation-options">
      <p>Andra doneringsalternativ:</p>
      <ul>
        <li>Bitcoin: <tt>1EhDUbc5MjC6JavC6idKiTCxnqSxY2sbTX</tt> (<a target="_blank" href="img/btc-qr.png">QR kod</a>)</li>
        <li>Square Cash: <a target="_blank" href="https://cash.me/$StefanSundin">$StefanSundin</a></li>
        <li>ChangeTip: <a target="_blank" href="https://www.changetip.com/tipme/stefansundin">stefansundin</a></li>
      </ul>
      <p>Kontakta mig på <a target="_blank" fubar>stefaNStefansundinCom</a> om du vill donera på annat sätt.</p>
    </div>


    <h2 id="install">Installera FFmpeg</h2>

    <p>FFmpeg är ett program för som mest används för konverting av videofiler, men det kan även ladda ned videoströmmar.</p>

    <p>I Debian och Ubuntu:</p>

{% highlight shell %}
sudo apt-get install ffmpeg
{% endhighlight %}

    <p>I Mac OS X (med <a target="_blank" href="http://brew.sh/">Homebrew</a>):</p>

{% highlight shell %}
brew install ffmpeg
{% endhighlight %}

    <p>Windows är som vanligt krångligast. <a target="_blank" href="https://ffmpeg.zeranoe.com/builds/">Ladda ned FFmpeg</a>, välj static build för enklare installation. Nu kan du antingen konfigurera så att <tt>ffmpeg.exe</tt> kan hittas i <tt>PATH</tt>, eller alternativt kan du kopiera <tt>ffmpeg.exe</tt> till <tt>C:\WINDOWS\</tt> (som redan finns i <tt>PATH</tt>).</p>


    <h2 id="socks">SOCKS</h2>

    <p>Du kan använda <tt>tsocks</tt> för att ladda ned via en SOCKS server, t.ex. om du befinner dig utomlands och inte kan se vissa program. Du måste ha en SSH server i Sverige.</p>

    <p>Exempel för Ubuntu:</p>

{% highlight shell %}
sudo apt-get install tsocks
sudo vim /etc/tsocks.conf
# Längst ned i filen, ändra detta:
# server = 127.0.0.1
# server_port = 1080
ssh server_i_sverige.se -D 1080
{% endhighlight %}

    <p>Öppna en till terminal och kör FFmpeg-kommandot med <tt>tsocks</tt>:</p>

{% highlight shell %}
tsocks ffmpeg -i ...
{% endhighlight %}

    <p>Chrome kan inte hämta listan med strömmar för vissa program om du befinner dig utomlands. Det går bra att använda <tt>master.m3u8</tt>, men du får inte högsta kvalitén. Du kan starta Chrome så här för att gå runt det:</p>

{% highlight shell %}
google-chrome --proxy-server="socks5://127.0.0.1:1080"
{% endhighlight %}

    <p>Om du använder Mac OS X:</p>

{% highlight shell %}
/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --proxy-server="socks5://127.0.0.1:1080"
{% endhighlight %}

    <p>I Firefox är det enklare att använda SOCKS. Öppna <i>Inställningar</i> » <i>Avancerat</i> » <i>Nätverk</i> » <i>Inställningar</i> och kryssa sedan för <i>Manuell proxykonfiguration</i>. Skriv in <tt>localhost</tt> som <i>SOCKS-värd</i> och använd port <tt>1080</tt>. Det är väldigt enkelt att glömma bort den här inställningen! Om du får proxy-fel senare så beror det nog på att du har glömt att återställa inställningen.</p>


    <h2 id="other_programs">Andra program</h2>

    <ul>
      <li><a target="_blank" href="http://www.pirateplay.se/">Pirateplay</a></li>
      <li><a target="_blank" href="https://github.com/spaam/svtplay-dl">svtplay-dl</a></li>
      <li><a target="_blank" href="https://github.com/rg3/youtube-dl">youtube-dl</a></li>
    </ul>


    <h2 id="news">Nyheter <a target="_blank" href="feed.xml"><img src="img/feed.png" alt="RSS flöde"></a></h2>

    {% for post in site.posts limit:3 %}
    <p><strong>{{ post.date | date: "%Y-%m-%d" }} - {{ post.title }}</strong></p>
    <div class="post-body">{{ post.content }}</div>
    {% endfor %}

    <!-- <p><a href="news/">Läs äldre nyheter...</a></p> -->
  </div>

  <script src="js/browser.js"></script>
  <script src="js/analytics.js"></script>
  <script src="js/fubar.js"></script>
  <script src="js/expander.js"></script>
</body>
</html>
