body {
  width: 550px;
  min-height: 370px;
  padding: 10px;
}
body.expand {
  width: 800px;
}
#expand:hover {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.125em;
}

[monospace] {
  height: 38px;
  font-family: monospace;
}
[pattern]:invalid {
  color: red;
}

.input-group {
  margin-bottom: 15px;
}
.input-group-prepend label {
  min-width: 100px;
  margin: 0;
  font-weight: bold;
}
.input-group.btns > .btn:not(:last-child) {
  margin-right: 1em;
}

#cmd {
  height: 38px;
  min-height: 38px;
  max-height: 250px;
  word-break: break-all;
}

#copy {
  min-width: 175px;
}

.bottom-right-fixed {
  position: fixed;
  bottom: 0.2em;
  right: 0.5em;
  user-select: none;
}
