body {
  width: 500px;
  padding: 10px;
  /*background-color: #f2f1f0;*/
}

h2 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.125em;
}

*[monospace] {
  font-family: monospace;
}
input[pattern]:invalid {
  color: red;
}

.input-group {
  margin-bottom: 15px;
}
.input-group-addon {
  min-width: 110px;
}
.input-group-addon label {
  margin: 0;
}
.input-group.btns > .btn {
  margin-right: 1em;
}
