html,
body {
  overflow: hidden;
  scrollbar-width: none;
}

body {
  width: 550px;
  min-height: 370px;
}

body.expand {
  width: 800px;
}

body.mobile {
  width: 100%;
}

#expand:hover {
  text-decoration: none;
  cursor: pointer;
}

h3 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 0.125em;
}

[pattern]:invalid {
  color: red;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  min-width: 100px;
  margin: 0;
  font-weight: bold;
}

body.mobile .input-group label {
  min-width: 70px;
}

#cmd {
  height: 38px;
  min-height: 38px;
  max-height: 250px;
  word-break: break-all;
}

body.mobile #cmd {
  resize: none;
}

#copy {
  min-width: 175px;
}

.bottom-right-fixed {
  position: fixed;
  bottom: 0.2em;
  right: 0.5em;
  user-select: none;
}

#choosen-subtitles {
  list-style-type: none
}

#choosen-subtitles>li {
  margin-left: 0.5em;
}
